.stories-wrap {
  width: 75%;
  margin: 0 auto;
  padding: 10px 0;
}

.more-btn {
  margin-top: 5px;
  margin-left: 5px;
}

.load-spinner {
  width: 20px !important;
  height: 20px !important;
  margin-left: 10px;
}
