.logo {
  height: 36px;
}

.logo-link:hover {
  animation: logo-spin-load infinite 2s linear;
}

.spin-load {
  animation: logo-spin-load infinite 2s linear;
}

@keyframes logo-spin-load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  position: relative;
  left: 5px;
  font-size: 22px;
}

a.nav-button {
  text-decoration: none;
}

.nav-button button {
  color: white;
}
